/* *{
  box-sizing: border-box;
}

body{
  background: #eee;
  margin: 0;
  padding: 0;
}

#main-container{
  max-width: 100%;
  height: auto;
}

header{
  width: 100%;
  text-align: center;
  background: dodgerblue;
  color: white;
  padding: 1rem;
}

button{
  cursor: pointer;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li#totalList{
  margin-top: 100%;
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
}


div.content{
  margin: 2rem;
}

div.content > div{
  display: inline-block;
  vertical-align: top;
}

div.content div.sidebar{
  width: 25%;
  padding: 0 2rem;
  text-align: center;
}

div.content div.sidebar img{
  width: 50%;
  margin-bottom: 1rem;
}

div.content div.sidebar button.moneyValue{
  font-size: 1.7rem;
  color: white;
  width: 100px;
  height: 100px;
  margin: 1rem;
  border: 0;
  border-radius: 50%;
  background: rgb(2,0,36);
  background: linear-gradient(299deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  outline:0;
}

div.content div.main{
  width: 50%;
  padding: 0 2rem;
  text-align: center;
}

div.content div.main button.numberButton {
  width: 15%;
  height: 75px;
  margin: 5px;
  background: #023f8a;
  color: #fff;
  border: 0;
  font-size: 1.7rem;
}

div.content div.main button.numberButton.selectedNumber{
  box-shadow:  0 0 0px 5px #15bfa8;
}

div.content div.main button#cashButton, div.content div.main button#clearButton {
  width: 30%;
  height: 75px;
  margin: 5px;
  margin-left: 15px;
  background: #222;
  color: #fff;
  border: 0;
  font-size: 1.7rem;
}

div.content div.selection h2{
    margin-top: 0;
}

.modal{
  display: none;
  position: absolute;
  top: 10%;
  text-align: center;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 70%;
  background: #fff;
  margin: 0 25%;
}

.modal.show{
  display: flex !important;
}

.modal form *{
  margin: 1rem 0;
} */

.slick-initialized .slick-slide:not(.slick-current){
  display: none!important;
}

.slick-slide.slick-active.slick-current{
left: 0!important;
}

.react-datetime-picker__wrapper{
  display: block;
    width: 100%;
    height: calc(1.6em + 1.625rem);
    padding: .75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #1e2022;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid #e7eaf3;
    border-radius: .3125rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}